@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn {
        @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight
    }

    .btn-primary {
        @apply bg-black text-white
    }

    .btn-text {
        @apply bg-black bg-transparent
    }

    .logo-ticker-logo {
        @apply h-8 w-auto
    }

    .tag {
        @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight
    }

    .card {
        @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full
    }

    .section-title {
        @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-serif tracking-tighter bg-gradient-to-b from-black to-[#001E80] bg-clip-text
    }

    .section-description {
        @apply text-center text-[22px] leading-[30-px] tracking-tight text-[#010D3];
    }

    .section-heading {
        @apply max-w-[540px] mx-auto
    }
    .menu-text{
        @apply hover:text-blue-500 text-gray-700 font-serif hover:bg-gray-50
    }
    /* globals.css */
.custom-content p {
    @apply mb-5 text-gray-700 text-lg;
  }
  
  .custom-content ul {
    @apply list-disc pl-6 mb-5 text-gray-700;
  }
  
  .custom-content li {
    @apply mb-2 text-gray-600;
  }
  
  .custom-content strong {
    @apply font-semibold text-gray-900;
  }
  
  .custom-content h3 {
    @apply text-2xl font-semibold text-gray-800 mt-6 mb-4;
  }
  
  .custom-content a {
    @apply text-blue-600 underline hover:text-blue-800;
  }
  
  .custom-content blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 mb-6;
  }
  

}
/* General RTL Support */
[dir='rtl'] {
    direction: rtl;
    text-align: right;
  }
  
  /* General LTR Support */
  [dir='ltr'] {
    direction: ltr;
    text-align: left;
  }
  